// -------------------------------
// Black n Rounds: CSS > Grid
// -------------------------------

.container {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
}

.row {
	width: 100%;
	.clearfix;
}


// Columns
// ----------

.col {
	float: left;
}
.col--green {
	background-color: @color-swatch3;
}

.span-30 {
	width: 30%;
}
.span-70 {
	width: 70%;
}

.flex-container {

	&.span-grid {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;

		margin-left: @gutter-pull;
	}

	// Space Between
	// -------------

	// Uses flexbox to give equal space between
	// any elements inside '.span-grid--space'

	&.span-grid--space {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	&.span-grid--center {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-moz-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;

		@media @mobile {
			display: block;
		}
	}


	// Helper Clasess
	// --------------

	// Add 'flex-vac' to vertically center elements
	&.flex-vac {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	// Add 'flex-end' to align elements to end
	&.flex-end .flex-item:last-child {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-pack: end;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}

}
