
// -----------------------------
// Buttons
// -----------------------------


button.btn,
.signupform fieldset button,
.contactform button.btn,
.widget.profile form button,
.widget.paypalbuynow .widget.button.paypal,
.widget.ecomcheckout .checkout-order-button,
.widget.tweet a,
.widget.dropbox button,
.blog-search-submit-button,
.widget.ecombasket .ecombasket-list-container .ecombasket-checkout-wrap .ecombasket-checkout-link,
.widget.ecombasket .ecombasket-list-container ul li .ecombasket-item-info .ecombasket-remove-button,
.blog-search-submit-button,
.ecombasket-summary-link,
.basket-summary-empty-cta,
.ecombasket-remove-button,
.widget.dropbox .file-name,
.productlist-filter .productlist-search .btn  {
	background-color: @font-swatch7-background-color;
	color: @font-swatch7-color;
	font-family: @font-swatch7-font-family;
	font-size: @font-swatch7-font-size;
	font-weight:  @font-swatch7-font-weight;
	line-height: @font-swatch7-line-height;
	letter-spacing: @font-swatch7-letter-spacing;
	padding: 12px 16px;
	.border-radius(40px);
	display: inline-block;
	cursor: pointer;
	margin: 0;
	text-decoration: none;
	vertical-align: top;
	&:hover {
		color: @color-swatch1;
		text-decoration: none;
		background-color: @font-swatch7-background-color-hover;
		.transition(background-color, .5s, ease-in);
	}
}

.basket-summary-empty-cta,
.ecombasket-summary-link {
	display: inline-block;
}

.widget.clicktocall a {
	.border-radius(50px);
	font-weight: 600;
	&:hover {
		.transition(all, .5s, ease-in);
	}
}

.widget.ecomcheckout .checkout-order-button:disabled,
button:disabled {
	background-color: fadeout(@font-swatch7-background-color, 50%);
	cursor: not-allowed;
	&:hover {
		background-color: fadeout(@font-swatch7-background-color, 50%);
	}
}

button {
	outline: none;
}

.blog-search-submit-button {
	border: none;
}

.widget.paypalbuynow .widget.button.paypal,
.widget.tweet a,
.widget.dropbox button {
	padding-left: 40px;
}

.widget.dropbox .file-name, .widget.dropbox .file-name:hover {
	background: transparent;
	color: @color-swatch4;
	padding-left: 8px;
}