{% extends "layout.twig" %}

{% block content %}

{% include 'includes/header-alt.twig' %}

{{widget('feature', 'defualt-feature', {
  'header': 'Our Services',
  'strapline': 'Its what we do!',
  'defaultBgImg': asset('images/features/feature--tyre1.jpg'),
  'positionTopPercentage': '0',
  'showBtn': false
})|raw}}

<div role="main">
	<div class="container">
		{# {{zone('main')|raw}} #}
	</div>
</div>

{% endblock %}
