{% extends "layout.twig" %}

{% block content %}

{% include 'includes/header-alt.twig' %}

{{widget('feature', 'gallery-feature', {
  'header': 'We are open',
  'strapline': 'With a fantastic party!',
  'defaultBgImg': asset('images/features/feature--launch.jpg'),
  'positionTopPercentage': '0',
  'showBtn': false
})|raw}}

<div role="main">
	<div class="container">
		{# {{zone('main')|raw}} #}
	</div>
</div>

{% endblock %}
