{% extends "layout.twig" %}

{% block content %}

{% include 'includes/header-alt.twig' %}

{{widget('feature', 'gallery-feature', {
  'header': 'We are open',
  'strapline': 'With a fantastic party!',
  'defaultBgImg': asset('images/features/feature--launch.jpg'),
  'positionTopPercentage': '0',
  'showBtn': false
})|raw}}

<div role="main">
	<div class="container">
		{{widget('gallery', 'imagegallery', {
		  'showTitle': true,
		  'showDescription': true,
		  'images':[
		    {
		      'url':'http://placehold.it/350x300',
		      'title':'First image title',
		      'description': 'First image description'
		    },
		    {
		      'url':'http://placehold.it/350x400',
		      'title':'Second image title',
		      'description': 'Second image description'
		    },
		    {
		      'url':'http://placehold.it/650x300',
		      'title':'Third image title',
		      'description': 'Third image description'
		    }
		  ]
		})|raw}}
	</div>
</div>

<div role="main">
	<div class="container">
		{# {{zone('main')|raw}} #}
	</div>
</div>

{% endblock %}
