<!doctype html>
<html lang="{{ page.seoLang }}">

	<head>
		{% include 'includes/head.twig' %}
		{% include basekit.headScript %}
	</head>

	<body class="{{ page.backgroundClass }} {{ site.colorSwatch }}">

			{% block content %}
			{% endblock %}

			{% include 'includes/footer.twig' %}

		{% include basekit.bodyScript %}

	</body>
</html>