{% extends "layout.twig" %}

{% block content %}

{% include 'includes/header-alt.twig' %}

{{widget('feature', 'feature--recycling', {
  'header': 'Recycling',
  'strapline': '90% recycled - used tyres, put to good use.',
  'defaultBgImg': asset('images/features/feature--tree.jpg'),
  'positionTopPercentage': '0',
  'showBtn': false
})|raw}}

<div role="main">
	<div class="container">
		{# {{zone('main')|raw}} #}
	</div>
</div>

{% endblock %}
