@import "@{templateCommon}/basekit-bootstrap.less";

@import "@{templateLocal}/css/grid.less";
@import "@{templateLocal}/css/ecommerce.less";
@import "@{templateLocal}/css/widgets.less";


// -----------------------------
// Page Settings
// -----------------------------


html, body, #wrap {
  height: 100%;
}

body {
	position: relative;
}

// Mixins
.border-radius (@radius: 6px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.transition (@prop: all, @time: 0.5s, @ease: ease) {
	-webkit-transition: @prop @time @ease;  
	-moz-transition:    @prop @time @ease;
	-ms-transition:     @prop @time @ease; 
	-o-transition:      @prop @time @ease;
	transition: 		@prop @time @ease;  
}



// -----------------------------
// Header
// -----------------------------

.bk-header {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 30px 0;

	@media @tablet {
		.flex-item {
			display: block;
			width: 100%;
		}

		// Navigation
		.widget .extendednavigation ul {
			position: absolute;
			top: 0;
			z-index: 99999;
			margin-top: 14px;
		}
		.widget .extendednavigation ul li a {
			color: #aaa;
		}
		.widget .extendednavigation li.selected a {
			color: @color-swatch3;
		}
	}
}

// Header Alt (Default)
.bk-header.alt {
	position: relative;
	padding: 14px 0;

	.logo img {
		max-width: 180px;
	}

	.widget .extendednavigation a {
		color: #A3A3A3;
		&:hover {
			color: @color-swatch3;
		}
	}
	.widget .extendednavigation a.pull {
		top: -23px;
		&:after {
			background-color: @color-swatch4;
			box-shadow: 0 6px 0 lighten(@color-swatch4, 10%), 0 12px 0 lighten(@color-swatch4, 10%);
		}
	}
}


// Logo
// ----------

.widget.logo {
	padding-left: 30px;
}

.logo a {
	line-height: 0;
}


// Navigation
// ----------

.bk-nav {
	padding-right: 30px;
	@media @tablet {
		padding-right: 0;
	}
}

.widget .extendednavigation a.pull {
	top: -35px;
	@media @tablet {
		margin-right: 30px;
	}
	&:after {
		width: 32px;
		height: 4px;
		background-color: @color-swatch1;
		box-shadow: 0 8px 0 @color-swatch1, 0 16px 0 @color-swatch1;
	}
}
@media @tablet {
	.widget .extendednavigation ul {
		margin-top: 20px;
		padding-top: 0;
		background-color: @color-swatch4;
	}
	.widget .extendednavigation ul li {
		border-bottom: 1px solid lighten(@color-swatch4,8%);
		&:last-child {
			border-bottom: 0;
		}
	}
	.widget .extendednavigation ul li a,
	.widget .extendednavigation li > .text {
		padding: 0 40px;
	}
}


// Header Slideshow
// ----------------

.widget.responsiveslideshow {
	.title, .description {
		display: inline-block!important;
		padding: 10px 0;
	}
	.title {
		color: @font-swatch8-color;
		font-family: @font-swatch8-font-family;
		font-size: @font-swatch8-font-size;
		line-height: @font-swatch8-line-height;
		text-transform: uppercase;
		padding-bottom: 10px;
		@media @mobile {
			font-size: bkscale(@font-swatch8-font-size, 0.65);
			line-height: bkscale(@font-swatch8-line-height, 0.7);
		}
	}
	.description {
		max-width: 80%;
		margin: 0 auto;
		padding: 10px 20px;

		background-color: rgba(0,0,0,0.2);

		font-family: @font-swatch9-font-family;
		font-size: @font-swatch9-font-size;
		font-weight: @font-swatch9-font-weight;
		line-height: @font-swatch9-line-height;
		letter-spacing: @font-swatch9-letter-spacing;
		color: @font-swatch9-color;

		@media @mobile {
			font-size: bkscale(@font-swatch9-font-size, 0.75);
			line-height: bkscale(@font-swatch9-line-height, 0.8);
		}
	}
	.image-wrapper {
		background-color: rgba(0,0,0,0.2);
	}
	.content-wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;

		height: 100%;
		width: 100%;
		max-width: 90%;
		margin: 0 auto;

		overflow: auto;
		text-align: center;
	}
}


.widget.responsiveslideshow,
.slideshow-widget-wrapper,
.widget.responsiveslideshow .slideshow-widget,
.widget.responsiveslideshow .slideshow-image-list {
	min-height: 500px;
	height: 100%;
}

// Slidehshow Controls
.slideshow-widget-controls {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	display: block;
	margin: 0 auto;
}


// Feature
// ----------------

// Feature Height
.widget.feature .feature-bgimg .content,
.widget.feature .feature-bgimg {
	height: 380px;
	@media @mobile {
		height: 200px;
	}
}

.feature {
	.spare {
		max-width: 90%;
		margin: 0 auto;
	}
	h2 {
		padding-bottom: 4px;
		span {
			font-size: 48px;
			letter-spacing: 0;
		}
		@media @mobile {
			padding-bottom: 12px;
			span {
				font-size: 40px;
			}
		}
	}
	h3 {
		// display: inline-block;
		// padding: 10px 20px;
		// background-color: rgba(0,0,0,0.2);
	}
}
@media @tablet {
	.widget.feature h3 {
		font-size: inherit;
		line-height: inherit;
	}
}



// -----------------------------
// Main
// -----------------------------

div[role="main"] {
	padding: 50px 0;
}



// -----------------------------
// Footer
// -----------------------------


.bk-footer {
	padding: 50px 0 80px;
	background-color: @color-swatch4;

	// Flex Item
	.flex-item {
		-ms-flex: 1 1 150px;
		-webkit-flex: 1 1 150px;
		flex: 1 1 150px;
		@media @mobile {
			display: block;
			width: 100%;
			margin-top: 20px;
			-ms-flex: inherit;
			-webkit-flex: inherit;
			flex: inherit;
		}
	}

	h4 {
		margin-bottom: 10px;
		font-size: 13px;
		font-weight: 700;
		color: #5F5F5F;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	p,
	.twitter p {
		font-size: 15px;
		color: #919191;
	}
	a {
		color: lighten(@color-swatch3,40%);
	}
}

.bk-footer-tier {
	margin-top: 20px;
}

.bk-sub-footer {
	padding: 16px 0 8px;
	background-color: darken(@color-swatch4,5%);

	p {
		font-size: 14px;
	}
	a {
		color: lighten(@color-swatch3,40%);
	}
}
