<header class="bk-header  alt">
	<div class="flex-container  span-grid--space  flex-vac">
		<div class="flex-item">
			{{widget('logo', 'sitelogo', {"defaultlogo": asset('images/logo-alt.png')})|raw}}
		</div>
		<div class="flex-item  last-child">
			<nav class="bk-nav">
				{{widget('extendednavigation', 'header-navigation', {"align":"left"})|raw}}
			</nav>
		</div>
	</div>
</header>