<!-- Header Include !-->

<div id="wrap">

	<nav class="bk-nav" id="#bk-nav">
		<div class="container">
			<div class="row">
				{{widget('extendednavigation', 'header-navigation', {"align":"left"})|raw}}
				{{widget('socialicons', 'social', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
			</div><!--end row-->
		</div><!--end container-->
	</nav><!--end bk-nav-->

	<header class="bk-header">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/quest-logo.png'),"showTplWidget":"0"})|raw}}
		{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
	</header>